.App {
  text-align: center;
}

.App-header {
  background-color: #42f4c8;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 3em;
  color: #3d3d3d;
  float: left;
  margin-left: 40px;
}

.App-intro {
  font-size: large;
}

.inbox {
  text-align: left;
}

.unreadCount {
  text-align: center;
  border-bottom: solid 1px #bbb;
  padding-bottom: 5px;
}

.message{
  border-bottom: solid 1px #bbb;
  padding-left: 5%;
}

.timestamp{
  text-align: right;
  padding-right: 5%;
}

.unread {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
